body {
    background-color:#DF8D03;
    font-family: 'Amatic SC', cursive;
    font-size: x-large;
}

img {
    border: 1px solid #F6C101 ;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
  }
  
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    border-spacing: 20px;
  }

#brewery-lrg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
  }

h3 {
  color:#fff70e
  
}
